@model IEnumerable<Diary.Models.DayStory>

@{
    ViewBag.Title = "Admin";
    int counter = 1;
}

<script language="javascript" type="text/javascript">

    function Delete(id) {
        if (confirm("Delete this?")) {
            $.post('/Day/Delete/' + id, function (data) {
                $("#" + id).hide("slow");
            });
        }
        else {
            return false;
        }
    }

</script>


<div class="row-fluid show-grid">
<h2 style="text-align:left;padding-left:20px;margin-left:20px;">Admin</h2>
    <div class="span7 mainContent">
        @foreach (var item in Model) {
            var divId = "content" + @counter;
            var itemId = @Html.DisplayFor(model => item.Day);
                <div class="selectorClass linkBox boxStyle" style="padding-left:20px;margin-left:20px;" id="@Html.DisplayFor(model => item.Day)">
                    <table width="100%">
                        <tr>
                            <td align="left" style="padding-left:200px;margin-left:200px;text-align:left;">
                                <span class="sImg"><img src="@Html.DisplayFor(model => item.Img)" class="tinyImg rounded-corners5" alt="" /></span> 
                                <span class="sDate">@Html.DisplayFor(model => item.Day)</span>
                                <span class="sHeader">, @Html.DisplayFor(model => item.Header)</span>
                            </td>
                            <td align="right">
                                <div style="text-align:right;padding-right:20px;margin-right:20px;">
                                    <a href="/Home/Day/@Html.DisplayFor(model => item.Day)" style="padding-right:10px;"><img src="../../Content/Images/edit.png" alt="Images" style="cursor:pointer;" border="0"/></a>
                                    <a href="/Home/Upload/@Html.DisplayFor(model => item.Day)" style="padding-right:10px;"><img src="../../Content/Images/camera.png" alt="Images" style="cursor:pointer;" border="0"/></a>
                                    <img src="../../Content/Images/DeleteRed.png" alt="Delete" style="cursor:pointer;" onclick="Delete('@Html.DisplayFor(model => item.Day)');" /><br />
                                </div>
                            </td>
                        </tr>
                    </table>
                    
                    
                </div>
               
            counter ++;
        }
    </div>
</div>

